<div class="menu">
  <ul class="list">
  <li class="header">MAIN NAVIGATION</li>
    <!-- Home -->
        <li class="active">
      <a asp-page="/Index">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
      </li>
    <!-- About -->
    <li>
      <a asp-page="/About">
        <i class="material-icons">text_fields</i>
        <span>About</span>
      </a>
    </li>
    <li>
      <a asp-page="/Contact">
        <i class="material-icons">layers</i>
        <span>Contact</span>
      </a>
    </li>
    <!-- Administrador -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Administrador</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Usuarios</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a asp-page="/Administrador/Usuarios/Cadastro">
                <span>Cadastrar novo usuario</span>
              </a>
            </li>
            <li>
              <a asp-page="/Administrador/Usuarios/Consulta">
                <span>Consulta de usuarios</span>
              </a>
            </li>            
            <li>
              <a asp-page="/Administrador/Usuarios/Relatorio">
                <span>Relatorio de usuarios</span>
              </a>
            </li>
          </ul>
        </li>       
      </ul>
    </li>

    <!-- Unidades -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Unidades</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Cadastro de nova Unidade</span>
          </a>
        </li>
        <li>
          <a asp-page="/Unidade/Consulta">
            <span>Consulta de Unidades</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Relatorios</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Relatorio Financeiro</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <span>Relatiorio Customizado</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

@functions{
    public bool isHomeActive()
    {
      return ViewData["Menu"] == "Home";
    }
}