<div class="menu">
  <ul class="list">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active">
      <a asp-page="/Index">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a asp-page="/About">
        <i class="material-icons">text_fields</i>
        <span>About</span>
      </a>
    </li>
    <li>
      <a asp-page="/Contact">
        <i class="material-icons">layers</i>
        <span>Contact</span>
      </a>
    </li>
    <!-- Agenda -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Agenda</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- Pacientes -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Pacientes</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- Profissionais -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">supervisor_account</i>
        <span>Profissionais</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- Fornecedores -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Fornecedores</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- Financeiro -->
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Financeiro</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Produtos</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);" class="menu-toggle">
        <i class="material-icons">event</i>
        <span>Unidades</span>
      </a>
      <ul class="ml-menu">
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <span>Menu Item - 2</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="menu-toggle">
            <span>Level - 2</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a href="javascript:void(0);">
                <span>Menu Item</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="menu-toggle">
                <span>Level - 3</span>
              </a>
              <ul class="ml-menu">
                <li>
                  <a href="javascript:void(0);">
                    <span>Level - 4</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>

  </ul>
</div>